<%- include('../partials/header') %>

<section id="show-page">
    <div>Recipe Name: </div>
    <div><%= recipe.recipeName %></div>
    <div>Ratings: </div>
    <div><%= recipe.ratings %></div>
    <div>Ingredients: </div>
    <div><%= recipe.ingredients %></div>
    <div>Image of Dish </div>
    <div><%= recipe.recipeImg %></div>
</section>

<%- include('../partials/footer') %>
