<%- include('../partials/header') %>

<form id="add-to-the-pot" action="/recipes/<%= recipe._id %>/ingredients" method="POST">
    <select name="ingredientId">
        <% recipe.ingredients.forEach(ingredient => { %>
            <option value="<%= ingredient._id %>"><%= ingredient.ingredientList %></option>
        <% }); %>
    </select>
    <button type="submit">Add to the Pot</button>
</form>

<section id="show-page">
    <div>Recipe Name: </div>
    <div><%= recipe.recipeName %></div>
    <div>Ingredients: </div>
    <div><%= recipe.measurementQty %> <%= recipe.measurements %> <%= recipe.ingredients %></div>
    <div>Cooking Instructions: </div>
    <div><%= recipe.instructions %></div>
    <div>Image of Dish </div>
    <div><%= recipe.recipeImg %></div>
</section>

<br><br><h2>Ratings</h2>
<form id="add-rating" method="POST"
    action="/recipes/<%= recipe._id %>/ratings">
    <label>Ratings: </label>
    <textarea name="content"></textarea>
    <label>Rate This Dish</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Rating">
</form>

<br><br>
<% if (recipe.ratings.length) { %>
    <table>
        <thead>
            <tr>
                <th>User</th>
                <th>Date</th>
                <th>Review</th>
                <th>Rating</th>
            </tr>
        </thead>
        <tbody>
            <% let avg = 0 %>
            <% recipe.ratings.forEach(function(r) { %>
                <% avg += r.rating %>
                <tr>
                    <td class="review-user"><img alt="avatar" src="<%= r.userAvatar %>" referrerpolicy="no-referrer"><%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString()  %></td>
                    <td><%= r.content %></td>
                    <td><%= r.rating %></td>
                    <td>
                        <% if (user?._id.equals(r.user)) { %>
                            <form action="/ratings/<%= r._id %>?_method=DELETE" method="POST">
                                <button type="submit">Χ</button>
                            </form>
                        <% } %>
                    </td>
                </tr>
            <% }); %>
            <tr>
                <td><%= (avg / recipe.ratings.length).toFixed(1) %></td>
            </tr>
        </tbody>
    </table>
<% } else { %>
    <h5>No Reviews Yet</h5>
<% } %>


<%- include('../partials/footer') %>
