<%- include('../partials/header') %>

<section id="show-page">
    <div>Recipe Name: </div>
    <div><%= recipe.recipeName %></div>
    <div>Ratings: </div>
    <div><%= recipe.ratings %></div>
    <div>Ingredients: </div>
    <div><%= recipe.measurementQty %> <%= recipe.measurements %> <%= recipe.ingredients %></div>
    <div>Cooking Instructions: </div>
    <div><%= recipe.instructions %></div>
    <div>Image of Dish </div>
    <div><%= recipe.recipeImg %></div>
</section>

<br><br><h2>Ratings</h2>
<form id="add-rating" method="POST"
    action="/recipes/<%= recipe._id %>/ratings">
    <label>Ratings: </label>
    <textarea name="content"></textarea>
    <label>Rate This Dish</label>
    <select name="rating">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5" selected>5</option>
    </select>
    <input type="submit" value="Add Rating">
</form>

<%- include('../partials/footer') %>
